/*body {*/
/*    background: #6AA833;*/
/*}*/

header {
    background: #6AA833;
    height: 100px;
    display: flex;
}

.profile-pic {
    height: 125px;
    width: 125px;
    border: solid #4A7526 5px;
    border-radius: 250px;
    position: relative;
    top: 25px;
    left: 50px;
}

.username-banner {
    position: relative;
    left: 75px;
    top: 25px;
    color: #E8E8E8;
}

.badge-bar {
    display: flex;
    justify-content: center;
    border: solid #4A7526 5px;
    border-radius: 5px;
    min-height: 25px;
}

.content-areas {
    border: solid #4A7526 5px;
    border-radius: 5px;
}